@media all and (max-width: 960px) {

    .top {
        height: 100%;
    }
    section {
        height: 320px;
        width: 35%;
    }
    img {
        height: 200px;
    }
    h1 {
        font-size: 1.2em;
    }
}

@media all and (max-width: 780px) {
    div {
        width: 100%;
    }
    a {
        display: block;
    }
    
}